
@media (min-width: 768px) {
    .h-md-100 { height: 100vh; }
}
.btn-round { border-radius: 30px; }

.text-cyan { color: #35bdff; }

%transition_all_03s {
  transition:all .3s ease;
}
%backface_visibility_hidden{
  backface-visibility:hidden;
  -webkit-backface-visibility:hidden;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.TH {
  position: relative;
  width: 50%;
}
/* Make the image responsive */
.TH img {
  width: 200px;
  height: 300px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  
}

/* Style the button and place it in the middle of the container/image */
.TH .RE {
  position: absolute;
  top: 50%;
  left: 180px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color:#DF691A;
  color: white;
  font-size: 16px;
  padding: 3px 6px;
  border: 2px solid #4E5D6C;
  cursor: pointer;
  border-radius: 5px;
}
.TH .DE {
  position: absolute;
  top: 326px;
  left: 180px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color:#d9534f;
  color: white;
  font-size: 16px;
  padding: 3px 6px;
  border: 2px solid #4E5D6C;
  cursor: pointer;
  border-radius: 5px;
}
.TH .CL {
  position: absolute;
  top: 69px;
  left: 180px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color:#5cb85c;
  color: white;
  font-size: 16px;
  padding: 3px 6px;
  border: 2px solid #4E5D6C;
  cursor: pointer;
  border-radius: 5px;
}



.swiper-container {
  width: 100%;
  height: 28vw;
  transition:opacity .6s ease;
  &.swiper-container-coverflow{
    padding-top:2%;
  }
  &.loading{
    opacity:0;
    visibility:hidden;
  }
  &:hover{
    .swiper-button-prev,
    .swiper-button-next{
      transform:translateX(0);
      opacity:1;
      visibility:visible;
    }
  }
}
.swiper-wrapper{

}
.swiper-slide{
  background-position:center;
  background-size:cover;
  .slide-inner{
    
  }
  .entity-img{
    display:none;
  }
  .content{
    position:absolute;
    top:40%;
    left:0;
    width:50%;
    padding-left:5%;
    color:#fff;
    .title{
      font-size:2.6em;
      font-weight:bold;
      margin-bottom:30px;
    }
    .caption{
      display:block;
      font-size:13px;
      line-height:1.4;
    }
  }
}
[class^="swiper-button-"]{
  width:44px;
  opacity:0;
  visibility:hidden;
  @extend %transition_all_03s;
}
.swiper-button-prev{
  transform:translateX(50px);
}
.swiper-button-next{
  transform:translateX(-50px);
}
.swiper-container-horizontal{
  >.swiper-pagination-bullets{
    .swiper-pagination-bullet{
      margin:0 9px;
      position:relative;
      width:12px;
      height:12px;
      background-color:#fff;
      opacity:.4;
      @extend %transition_all_03s;
      &::before{
        content:'';
        position:absolute;
        top:50%;
        left:50%;
        width:18px;
        height:18px;
        transform:translate(-50%, -50%);
        border:0px solid #fff;
        border-radius:50%;
        @extend %transition_all_03s;
      }
      &:hover,
      &.swiper-pagination-bullet-active{
        opacity:1;
      }
      &.swiper-pagination-bullet-active{
        &::before{
          border-width:1px;
        }
      }
    }
  }
}

// Mediaqueries
@media(max-width:1180px){
  .swiper-slide{
    .content{
      .title{
        font-size:25px;
      }
      .caption{
        font-size:12px;
      }
    }
  }
}
@media(max-width:1023px){
  .swiper-container {
    height:40vw;
    &.swiper-container-coverflow{
      padding-top:0;
    }
  }
}